<h1>Library Catalog</h1>
<h3>Add new authors here:</h3>
<hr />
<form class="/authors/new" method="post">
  <label for="first-name">First Name:</label>
  <input id="first-name" name="first-name" type="text">
  <label for="last-name">Last Name:</label>
  <input id="last-name" name="last-name" type="text">
  <button type="submit">Submit</button>
</form>
