<h1>Library Catalog</h1>
<h3>Edit author?</h3>
<hr />
@{
  if (Model != null)
  {
    <ul>
    @foreach (var author in Model)
    {
    <li><a href="/authors/@author.GetId()">@author.GetFullName()</a></li>
    <form action="/authors/@author.GetId()" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" name="button">delete this author</button>
    </form>
    }
    </ul>
  }

  else
  {
  <h3>No authors to be found</h3>
  }

}

<form action="/authors/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" name="button">Delete all authors</button>
</form>

<h4><a href="/authors/new">Add a new author</a></h4>
<h4><a href="/">Return home</a></h4>
