<h1>Library Catalog</h1>
<h3>Add new authors here:</h3>
<hr />
<form class="/authors/new" method="post">
  <label for="author-name">Course Name:</label>
  <input id="author-name" name="author-name" type="text">
  <label for="book-author">Enrollment Date:</label>
  <input id="book-author" name="book-author" type="date">
  <button type="submit">Submit</button>
</form>
