<h1>Library Catalog</h1>
<h3>This is your book:</h3>
<hr />
@if (Model != null)
  {
    <h4>@Model["book"].GetTitle()</h4>
    <p>Publish Date: @Model["book"].GetPublishDate().ToString("MM/dd/yyyy")</p>
    <ul>
    @foreach (var author in Model["authors"])
    {
      <li><a href="/books/@author.GetId()">@author.GetFullName()</a></li>
    }
    </ul>

  }
  else
  {
    <h3>No books to be found</h3>
  }

<form action="/books/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" name="button">Delete all books</button>
</form>

<h4><a href="/books/new">Add a new book</a></h4>
<h4><a href="/">Return home</a></h4>
