<h1>Library Catalog</h1>
<h3>Add new books here:</h3>
<hr />
<form class="/books/new" method="post">
  <label for="book-title">Book Title:</label>
  <input id="book-title" name="book-title" type="text">
  <label for="book-pub">Date of Publication:</label>
  <input id="book-pub" name="book-pub" type="date">
  <label for="book-author">Author First Name:</label>
  <input id="book-author-fn" name="book-author-fn" value="text">
  <label for="book-author">Author Last Name:</label>
  <input id="book-author-ln" name="book-author-ln" value="text">
  <button type="submit">Submit</button>
</form>
