<h1>Library Catalog</h1>
<h3>List of books:</h3>
<hr />
@if (Model != null)
  {
    <ul>
    @foreach (var book in Model)
    {
      <li><a href="/books/@book.GetId()">@book.GetTitle()</a>: @book.GetPublishDate().ToString("MM/dd/yyyy")</li>

    }
    </ul>

  }
  else
  {
    <h3>No books to be found</h3>
  }

<form action="/books/delete" method="post">
 <button type="submit" name="button">Delete all books</button>
</form>

<h4><a href="/books/new">Add a new book</a></h4>
<h4><a href="/">Return home</a></h4>
