<h1>Library Catalog</h1>
<h3>Add new books here:</h3>
<hr />
<form class="/books/new" method="post">
  <label for="book-title">Author Name:</label>
  <input id="book-title" name="book-title" type="text">
  <label for="book-url">Author url:</label>
  <input id="book-url" name="book-url" type="text">
  <button type="submit">Submit</button>
</form>
