@Html.Partial("header.cshtml")
@Html.Partial("navbar.cshtml")

<h3>Add new brand here:</h3>
<hr />
<form class="/brands/new" method="post">
  <label for="brand-name">Brand Name:</label>
  <input id="brand-name" name="brand-name" type="text">
  <label for="brand-logo">Brand Logo:</label>
  <input id="brand-logo" name="brand-logo" type="text">
  <br>
  <button type="submit">Add brand</button>
</form>

<h4><a href="/">Cancel and return home</a></h4>
