@Html.Partial("header.cshtml")
@Html.Partial("navbar.cshtml")

@{
  if (Model != null)
  {
    foreach (var brand in Model["brands"])
    {
      <h4>@brand.GetName()</h4>
      <a href='/brands/@brand.GetId()'><img class="brand" src='/Content/img/@brand.GetLogo()'></a>
    }
  }
  else
  {
  <h3>No brands to be found</h3>
  }
}

<h4><a href="/brands/new">Add Brand</a></h4>
<h4><a href="/stores">View All Stores</h4>
<h4><a href="/">Return home</a></h4>
<form action="/brands/delete" method="post">
  <input type="hidden" name="_method" value="DELETE">
 <button type="submit" class="btn btn-danger" name="button">Delete all brands</button>
</form>
