<h1>Hard Knocks University</h1>
<h3>Add new courses here:</h3>
<hr />
<form class="/courses/new" method="post">
  <label for="course-name">Course Name:</label>
  <input id="course-name" name="course-name" type="text">
  <label for="course-number">Curse number:</label>
  <input id="course-number" name="course-number" type="text">
  <button type="submit">Submit</button>
</form>
