<h1>Hard Knocks University</h1>
<h3>List of courses:</h3>
<hr />
@if (Model.Count != 0)
  {
    <ul>
    @foreach (var course in Model)
    {
      <li><a href="/courses/@CourseName.GetId()">@courseName.GetName()</a> </li>
      <li><a href="/courses/@@CourseNumber.GetId()">@courseNumber.GetName()</a> </li>
    }
    </ul>

  }
  else
  {
    <h1>No courses to be found</h1>
  }

<form action="/courses/delete" method="post">
 <button type="submit" name="button">Delete all courses</button>
</form>

<h4><a href="/courses/new">Add a new course</a></h4>
<h4><a href="/">Return home</a></h4>
