  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/styles.css" media="screen">
    <title>Extraordinary Store Brand Association Finder</title>
  </head>
