<h1>Hard Knocks University</h1>
<h3>Add new students here:</h3>
<hr />
<form class="/students/new" method="post">
  <label for="student-name">Course Name:</label>
  <input id="student-name" name="student-name" type="text">
  <label for="enrollment-date">Enrollment Date:</label>
  <input id="enrollment-date" name="enrollment-date" type="date">
  <button type="submit">Submit</button>
</form>
